section {
  margin: 0;
  padding: 0;
  width: 100%;
  /* border: 1px solid red; */
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------------------------------------- */
.about {
  width: 100%;
  margin-top: 11rem;
  
}

/* about info section */
.about .about-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid var(--color-tertiary); */
}
.about .about-info h1 {
  color: #c55900;
  font-weight: 800;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  border-left: 4px solid var(--color-tertiary);
  border-right: 4px solid var(--color-tertiary);
  padding-top: 10px;
  /* create font shadow */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.about .about-info h2 {
  width: 100%;
  text-align: center;
  color: var(--color-secondary);
  text-decoration: underline;
  border-left: 4px solid var(--color-tertiary);
  border-right: 4px solid var(--color-tertiary);
  border-bottom: 4px solid var(--color-tertiary);
}

.about .relative-container {
  position: relative;
}
/* about img section */
.about .about-img {
  /* background-image: url("../images/Pages/MainPageTruck.jpeg"); */
  /* fit background image to div */
  /* background-size: contain; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  width: 100%;
  /* height: 240px; */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: baseline;
  text-align: center;
}

.about .about-img img {

}

.about .about-img .img-license {
  font-size: 1.4rem;
  color: var(--color-primary);
  font-weight: 600;
  width: 100%;
  background-color: rgba(var(--color-tertiary-rgb), 0.8);
  border-radius: 50px 50px 0 0 ;
  position: absolute;
  bottom: 0;
}

/* about description section */
.about .about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  border: 3px solid var(--color-tertiary);
  border-top: 0;
}
.about .about-description h1 {
  display: none;
}

.about .about-description h2 {
  display: none;
}

.about .about-description h3 {
  display: none;
}

.about .about-description .about-buttons {
  display: none;
}

.about .about-description .description-license {
  display: none;
  font-size: 1.4rem;
  color: var(--color-secondary);
  font-weight: 600;
  width: 100%;
}

.about .about-description .description-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 550;
  border: 2px dashed var(--color-tertiary);
}

.about .about-description .description-quote a{
  /* margin-top: 15px;
  width: 50%;
  text-align: center;
  padding: 5px;
  color: var(--color-primary);
  background-color: var(--color-tertiary); */
  background-color: var(--color-tertiary);
    color: #fff;
    border-radius: 45px;
    font-size: 17px;
    border: 1px solid #c55900;
    margin-top: 15px;
    padding: 18px 30px;
    transition: 0.4s ease all;
    line-height: 1;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

/* about discount section */
.about .about-discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  /* border: 3px solid var(--color-tertiary); */
  border-top: 0;
}

.about .about-discount p span {
  text-decoration: underline;
  font-size: 1.4rem;
  color: #c55900;
}

/* ------------------------------------------------------- */
/* services section */
.services {
  /* width: 100%; */
  padding: 15px;
  padding-top: 50px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
}

.services .services-container {
  width: 100%;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.services .services-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-secondary);
  font-size: 1.7rem;
  border: 4px solid var(--color-secondary);
  padding: 0 20px;
  border-radius: 50px 0 50px 0;
  width: 100%;
}

.services .services-container .services-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
  /* justify-content: center; */
  /* align-items: center; */
}

.services .services-container .services-row .service-box {
  /* background-color: white; */
  width: 100%;
  box-shadow: 1px 0px 19px 0 rgba(var(--color-tertiary-rgb), 0.5);
  margin: 10px;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 25px;
  text-align: center;
  transition: all 0.5s ease;
  box-sizing: inherit;
}

.services .services-container .services-row .service-box .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.service a {
  text-decoration: none;
  color: var(--color-secondary);
  /* font-size: 1.2; */
  /* font-weight: 600; */
}

.service a h3{
  margin-top: 15px;
  margin-bottom: 10px;
}

.service a p {
  font-size: 16px;
  font-weight: 500;
}

.services-button {
  margin-top: 25px;
  text-align: center;
}

.services-button a{
  background-color: var(--color-tertiary);
    color: #fff;
    border-radius: 45px;
    font-size: 18px;
    border: 1px solid #c55900;
    padding: 18px 30px;
    transition: 0.4s ease all;
    line-height: 1;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

/* ------------------------------------------------------- */
/* gallery section */
.gallery {
  display: flex;
  padding-top: 30px;
  /* margin-bottom: 20px; */
  /* height: 100%; */
}

.gallery h2 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  width: 80%;
  color: var(--color-secondary);
  font-size: 2rem;
  border: 4px solid var(--color-secondary);
  padding: 0 20px;
  border-radius: 50px 0 50px 0;
}
/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides .text {
  font-weight: 700;
  background-color: rgba(var(--color-black-rgb), 0.5);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ------------------------------------------------------- */

/* Media Query Phone Medium */
@media all and (min-width: 375px) {
 .about {
  margin-top: 12rem;
 }

 /* .about-img {
  background-size: 100%;
  height: 5%;
 } */
}

/* Media Query Phone Large */
@media all and (min-width: 425px) {
 .about {
  margin-top: 13rem;;
 }
}

/* Media Query  Tablet*/
@media all and (min-width: 768px) {

  .about {
    margin-top: 11rem;
  }
  
}

/* Media Query Laptop */
@media all and (min-width: 1024px) {

  .about {
    margin-top: 14rem;
  }

  .about .about-info h1 {
    font-size: 3rem;
  }

  .about .about-info h2 {
    font-size: 2rem;
  }
  

  .about .relative-container .about-img .img-license {
    font-size: 2rem;
  }

  .about .about-description .description-quote {
    margin: 50px;
  }

  .services .services-container .services-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 50px;
  }

  .services .services-container .services-row .service-box {
    width: 45%;
    margin-bottom: 50px;
  }.service a h3 {
    font-size: 1.5rem;
  }.service a p {
    font-size: 1.2rem;
  }
}

/* Media Query laptop Large*/
@media all and (min-width: 1440px) {
  .about {
    margin-top: 18rem;
  }

  .about .about-description .description-quote {
    font-size: 1.5rem;
    padding: 10px;
    color: var(--color-secondary);
  }

  
}

/*  Media Query laptop HD 1920x1080 */
@media all and (min-width: 1920px)  {
 .about {
  margin-top: 17rem;
 }
}


